<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          Overview
        </div>
        <h2 class="page-title">
          Dashboard
        </h2>
      </div>
      <!-- Page title actions -->
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
            Create new task
          </a>
          <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report" aria-label="Create new report">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-deck row-cards">
    <div class="col-md-12 col-lg-12">
      <div class="card" style="height: calc(24rem + 10px)">
        <div class="card-header">
          <h3 class="card-title">Tasks<%= checkPage %></h3>
        </div>
        <div class="card-body-scrollable card-body-scrollable-shadow">
          <div class="table-responsive">
            <table class="table card-table table-vcenter" id="taskList">
            <% todos.forEach(function(todo) { %>
              <tr>
                <td class="w-1 pe-0">
                  <input type="checkbox" class="form-check-input m-0 align-middle" id="status" aria-label="Select task" value="<%= todo.id %>" <%= todo.status?"checked":"" %> >
                </td>
                <td class="w-100">
                  <% if(checkPage === "/completed") { %>
                    <del><a href="#" class="text-reset" data-value="<%= todo.id %>"><%= todo.name %></a><del>
                  <% } else { %> 
                    <a href="#" class="text-reset open-modal" data-value="<%= todo.id %>"><%= todo.name %></a>
                  <%} %>
                  <!-- <a href="#" class="text-reset" data-bs-toggle="modal" data-bs-target="#modal-update"><%= todo.name %></a> -->
                </td>
                <td class="text-nowrap text-muted">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="4" y="5" width="16" height="16" rx="2" /><line x1="16" y1="3" x2="16" y2="7" /><line x1="8" y1="3" x2="8" y2="7" /><line x1="4" y1="11" x2="20" y2="11" /><line x1="11" y1="15" x2="12" y2="15" /><line x1="12" y1="15" x2="12" y2="18" /></svg>
                  <%= moment(todo.dueDate).format('LL'); %>
                </td>
                <td class="text-nowrap">
                  <span href="#" class="text-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                    <%= todo.doneStep %>/<%= todo.totalStep %>
                  </span>
                </td>
                <td>
                  <label class="form-selectgroup-item">
                    <input type="checkbox" id="important" class="form-selectgroup-input" aria-label="Select task" value="<%= todo.id %>" <%= todo.important ? "checked":"" %>>
                    <span class="form-selectgroup-label <%= todo.important ? 'text-yellow border-warning':'' %>">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path></svg>
                    </span>
                  </label>
                </td>
                <td>
                  <label class="form-selectgroup-item">
                    <input type="checkbox" id="myday" class="form-selectgroup-input checkmyday" aria-label="Select task" value="<%= todo.id %>" <%= todo.myDay ? "checked":"" %>>
                    <span class="form-selectgroup-label <%= todo.myDay ? 'text-yellow border-warning':'' %>">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="4"></circle><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path></svg>
                    </span>
                  </label>
                </td>
                <td>
                  <a href="#" class="bg-red text-white avatar destroy" data-value="<%= todo.id %>"><!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="4" y1="7" x2="20" y2="7" /><line x1="10" y1="11" x2="10" y2="17" /><line x1="14" y1="11" x2="14" y2="17" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                  </a>
                </td>
              </tr>
            <% }); %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- contentFor('modalNewTask') %>
<div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <!-- Download SVG icon from http://tabler-icons.io/i/calendar-minus -->
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="4" y="5" width="16" height="16" rx="2" /><line x1="16" y1="3" x2="16" y2="7" /><line x1="8" y1="3" x2="8" y2="7" /><line x1="4" y1="11" x2="20" y2="11" /><line x1="10" y1="16" x2="14" y2="16" /></svg>
          New tasks
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/?retUrl=<%= checkPage %>" method="post">
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="13" y1="20" x2="20" y2="13" /><path d="M13 20v-6a1 1 0 0 1 1 -1h6v-7a2 2 0 0 0 -2 -2h-12a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7" /></svg>
              Add a task
            </label>
            <input type="text" class="form-control" name="name" id="name" required placeholder="New a task">
          </div>
          <div class="mb-3">
            <label class="form-label">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="4" y="4" width="16" height="16" rx="2" /><line x1="9" y1="12" x2="15" y2="12" /><line x1="12" y1="9" x2="12" y2="15" /></svg>
              Steps
            </label>
            <div class="form-group mb-1" id="group-step">
              <div class="input-group mb-2 input-step">
                <input type="text" class="form-control" name="steps[]" autocomplete="off" placeholder="Add a step">
                <a class="input-group-text bg-red text-white del-step">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                  <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="4" y="4" width="16" height="16" rx="2" /><line x1="9" y1="12" x2="15" y2="12" /></svg> -->
                </a>
              </div>
            </div>
            <a href="#" id="newTask">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="9" y1="12" x2="15" y2="12" /><line x1="12" y1="9" x2="12" y2="15" /></svg>
              Add new step
            </a>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">
                  <!-- Download SVG icon from http://tabler-icons.io/i/tool -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10h3v-3l-3.5 -3.5a6 6 0 0 1 8 8l6 6a2 2 0 0 1 -3 3l-6 -6a6 6 0 0 1 -8 -8l3.5 3.5" /></svg>
                  Options
                </label>
                <div class="form-selectgroup">
                  <label class="form-selectgroup-item" title="My day">
                    <input type="checkbox" name="myDay" value="true" class="form-selectgroup-input">
                    <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/sun -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="4"></circle><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path></svg>
                      My Day
                    </span>
                  </label>
                  <label class="form-selectgroup-item" title="Important">
                    <input type="checkbox" name="important" value="true" class="form-selectgroup-input">
                    <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                      Important
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">
                  <!-- Download SVG icon from http://tabler-icons.io/i/calendar-time -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4" /><circle cx="18" cy="18" r="4" /><path d="M15 3v4" /><path d="M7 3v4" /><path d="M3 11h16" /><path d="M18 16.496v1.504l1 1" /></svg>
                  Add due date
                </label>
                <input type="text" name="dueDate" class="form-control dueDate">
              </div>
            </div>
            <div class="col-lg-12">
              <div>
                <label class="form-label">
                  <!-- Download SVG icon from http://tabler-icons.io/i/notes -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="5" y="3" width="14" height="18" rx="2" /><line x1="9" y1="7" x2="15" y2="7" /><line x1="9" y1="11" x2="15" y2="11" /><line x1="9" y1="15" x2="13" y2="15" /></svg>
                  Add note
                </label>
                <textarea class="form-control" name="note" rows="3"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancel
          </a>
          <button type="submit" class="btn btn-primary ms-auto">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
            Create new task
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
<%- contentFor() %>
<%- contentFor('modalUpdateTask') %>
<div class="modal modal-blur fade" id="modal-update" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <!-- Download SVG icon from http://tabler-icons.io/i/calendar-minus -->
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="4" y="5" width="16" height="16" rx="2" /><line x1="16" y1="3" x2="16" y2="7" /><line x1="8" y1="3" x2="8" y2="7" /><line x1="4" y1="11" x2="20" y2="11" /><line x1="10" y1="16" x2="14" y2="16" /></svg>
          Detail tasks
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="post">
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="13" y1="20" x2="20" y2="13" /><path d="M13 20v-6a1 1 0 0 1 1 -1h6v-7a2 2 0 0 0 -2 -2h-12a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7" /></svg>
              Name a task
            </label>
            <input type="text" class="form-control" name="nameUpdate" id="nameUpdate" placeholder="New a task">
          </div>
          <div class="mb-3">
            <label class="form-label">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="4" y="4" width="16" height="16" rx="2" /><line x1="9" y1="12" x2="15" y2="12" /><line x1="12" y1="9" x2="12" y2="15" /></svg>
              Steps
            </label>
            <div class="form-group mb-1" id="group-update-step">
              <div class="input-group mb-2 update-step">
                <a class="input-group-text">
                  <label class="form-switch">
                    <input class="form-check-input" type="checkbox">
                  </label>
                </a>
                <input type="text" class="form-control" name="stepsUpdate[]" autocomplete="off" placeholder="Add a step">
                <a class="input-group-text bg-red text-white del-step">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                  <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="4" y="4" width="16" height="16" rx="2" /><line x1="9" y1="12" x2="15" y2="12" /></svg> -->
                </a>
              </div>
            </div>
            <a href="#" id="updateStep">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="9" y1="12" x2="15" y2="12" /><line x1="12" y1="9" x2="12" y2="15" /></svg>
              Add new step
            </a>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">
                  <!-- Download SVG icon from http://tabler-icons.io/i/tool -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10h3v-3l-3.5 -3.5a6 6 0 0 1 8 8l6 6a2 2 0 0 1 -3 3l-6 -6a6 6 0 0 1 -8 -8l3.5 3.5" /></svg>
                  Options
                </label>
                <div class="form-selectgroup">
                  <label class="form-selectgroup-item" title="My day">
                    <input type="checkbox" name="myDayUpdate" value="true" class="form-selectgroup-input">
                    <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/sun -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="4"></circle><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path></svg>
                      My Day
                    </span>
                  </label>
                  <label class="form-selectgroup-item" title="Important">
                    <input type="checkbox" name="importantUpdate" value="true" class="form-selectgroup-input">
                    <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                      Important
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">
                  <!-- Download SVG icon from http://tabler-icons.io/i/calendar-time -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4" /><circle cx="18" cy="18" r="4" /><path d="M15 3v4" /><path d="M7 3v4" /><path d="M3 11h16" /><path d="M18 16.496v1.504l1 1" /></svg>
                  Add due date
                </label>
                <input type="text" name="dueDateUpdate" class="form-control dueDate">
              </div>
            </div>
            <div class="col-lg-12">
              <div>
                <label class="form-label">
                  <!-- Download SVG icon from http://tabler-icons.io/i/notes -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="5" y="3" width="14" height="18" rx="2" /><line x1="9" y1="7" x2="15" y2="7" /><line x1="9" y1="11" x2="15" y2="11" /><line x1="9" y1="15" x2="13" y2="15" /></svg>
                  Add note
                </label>
                <textarea class="form-control" name="noteUpdate" rows="3"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancel
          </a>
          <button type="submit" class="btn btn-primary ms-auto">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
            Create new task
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- contentFor() %>
<script>
  $('.dueDate').datetimepicker({
      format: 'd/m/Y',
      timepicker: false,
      mask: true,
    });
  $(document).on("click", "#newTask", () => 
    $(".input-step")
      .clone()
      .find('.form-control')
      .val('')
      .closest('.input-step')
      .first()
      .appendTo("#group-step")
  );
  $('#group-step').on("click", ".del-step", function(){
    const qtyInput = $(".input-step").clone().length;
    if(qtyInput > 1) {
      $(this).closest('.input-step').remove();
    }
  });

  $("#taskList").on("change", "#status:checkbox", (function() {
    const status= $(this).is(':checked');
    const taskId = $(this).val();
    const thisObj = $(this);
    $.ajax({
      url: "/todo/status",
      method: "POST",
      data: {
        status,
        taskId,
      },
      success: function (res) {
        thisObj.closest('tr').remove();
        const retUrl = window.location.pathname;
        $.ajax({
          url: `/components/dynav?retUrl=${retUrl}`,
          method: "POST",
          success: function (res) {
            $("#dynav").replaceWith(res);
          },
        });
      },
    });
  })); 
  $("#taskList").on("change", "#important:checkbox", (function() {
    const important= $(this).is(':checked');
    const taskId = $(this).val();
    const thisObj = $(this);
    if(important) {
      $(this).closest('.form-selectgroup-item').find('.form-selectgroup-label').addClass('text-yellow border-warning');
    } else {
      $(this).closest('.form-selectgroup-item').find('.form-selectgroup-label').removeClass('text-yellow border-warning');
    }
    $.ajax({
      url: "/todo/important",
      method: "POST",
      data: {
        important,
        taskId,
      },
      success: function (res) {
        if("<%= checkPage %>" === "/important") {
          thisObj.closest('tr').remove();
        }
        const retUrl = window.location.pathname;
        $.ajax({
          url: `/components/dynav?retUrl=${retUrl}`,
          method: "POST",
          success: function (res) {
            $("#dynav").replaceWith(res);
          },
        });
      },
    });
  }));
  $("#taskList").on("change", "#myday:checkbox", (function() {
    const myday= $(this).is(':checked');
    const taskId = $(this).val();
    if(myday) {
      $(this).closest('.form-selectgroup-item').find('.form-selectgroup-label').addClass('text-yellow border-warning');
    } else {
      $(this).closest('.form-selectgroup-item').find('.form-selectgroup-label').removeClass('text-yellow border-warning');
    }
    $.ajax({
      url: "/todo/myday",
      method: "POST",
      data: {
        myday,
        taskId,
      },
      success: function (res) {
        const retUrl = window.location.pathname;
        $.ajax({
          url: `/components/dynav?retUrl=${retUrl}`,
          method: "POST",
          success: function (res) {
            $("#dynav").replaceWith(res);
          },
        });
      },
    });
  }));
  $("#taskList").on("click", ".destroy", function() {
    taskId=$(this).data("value");
    const objTask = $(this);
    $.ajax({
      url: "/todo/destroy",
      method: "POST",
      data: {
        taskId,
      },
      success: function (res) {
        objTask.closest('tr').remove();
        const retUrl = window.location.pathname;
        $.ajax({
          url: `/components/dynav?retUrl=${retUrl}`,
          method: "POST",
          success: function (res) {
            $("#dynav").replaceWith(res);
          },
        });
      },
    });
  });



  // Detailll

  $(document).on("click", ".open-modal", function(){
    const taskId = $(this).data("value");
    $.ajax({
      url: "/todo/detail",
      method: "POST",
      data: {
        taskId,
      },
      success: function (res) {
        $("#modal-update").replaceWith(res);
        $("#modal-update").modal('show');
        $("#listDel").hide();
      },
    });
  });
  //Send value not checked
  $(document).on("click", "#updateStep", () => {
    $(".update-step")
      .clone()
      .find('.form-control')
      .val('')
      .closest('.update-step')
      .find('.ult-ckb')
      .val('false')
      .closest('.update-step')
      .find('.stepId')
      .val('-1')
      .closest('.update-step')
      .find('.ult-ckb-backup')
      .prop('disabled', false)
      .val('false')
      .closest('.update-step')
      .find('.form-check-input')
      .prop('checked', false)
      .closest('.update-step')
      .first()
      .appendTo("#group-update-step")
  });
  $(document).on("click", ".del-step", function(){
    const qtyInput = $(".update-step").clone().length;
    const optionValue = $(this).closest('.update-step').find('.stepId').val();
    $('#listDel').append(`<option selected="selected" value="${optionValue}"></option>`);
    if(qtyInput > 1) {
      $(this).closest('.update-step').remove();
    } else {
      $(this).closest('.update-step')
      .find('.form-control')
      .val('')
      .closest('.update-step')
      .find('.ult-ckb')
      .val('false')
      .closest('.update-step')
      .find('.stepId')
      .val('-1')
      .closest('.update-step')
      .find('.ult-ckb-backup')
      .prop('disabled', false)
      .val('false')
      .closest('.update-step')
      .find('.form-check-input')
      .prop('checked', false)
      .closest('.update-step')
    }
  });

  //Send value not checked
  $(document).on("click", ".ult-ckb", function() {
    if($(this).is(':checked')) {
      $(this).val('true');
      $(this)
      .closest('.form-switch')
      .find(".ult-ckb-backup")
      .prop('disabled', true);
    } else {
      $(this).val('false');
      $(this)
      .closest('.form-switch')
      .find(".ult-ckb-backup")
      .prop('disabled', false);
    }
    console.log($(this).val());
  });


  // $("#taskList").on("click", ".checkmyday", (function() {
  //   const retUrl = window.location.pathname;
  //   $.ajax({
  //     url: `/components/dynav?retUrl=${retUrl}`,
  //     method: "POST",
  //     success: function (res) {
  //       $("#dynav").replaceWith(res);
  //       // console.log(res);
  //     },
  //   });
  // })); 
</script>