<!doctype html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* @version 1.0.0-beta
* @link https://tabler.io
* Copyright 2018-2021 The Tabler Authors
* Copyright 2018-2021 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Notoli - <%- title%></title>
    <!-- CSS files -->
    <link href="/public/assets/css/tabler.min.css" rel="stylesheet"/>
    <link href="/public/assets/css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="/public/assets/css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="/public/assets/css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="/public/assets/css/demo.min.css" rel="stylesheet"/>
  </head>
  <body class="antialiased">
    <div class="page">
      <%- include('../partials/header.ejs') %>

      <%- include('../partials/navbar.ejs') %>
      <div class="content">
        <%- body %>
        <%- include('../partials/footer.ejs') %>
      </div>
    </div>
    <%-defineContent('modalNewTask')%>
    <!-- Libs JS -->
    <script src="/public/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <!-- Tabler Core -->
    <script src="/public/assets/js/tabler.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%- script %>
  </body>
</html>